{% extends 'base.html' %}

{% load static %}

{% block title %}Post All{% endblock %}

{%block content%}
<h1>BLOG POST LIST</h1>
<br>
<div class="row">
    사용자 정보 {{user}}
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{post.title |truncatechars:13}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{post.content|truncatechars:20}}</h6>
            <a href="{% url 'blog:post_detail' post.slug %}" class="card-link">Detail link</a>
        </div>
    </div>
    {% endfor %}
</div>
<br>

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">PreviousPage</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link">PreviousPage</a>
            </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{page_obj.paginator.num_pages }}</a></li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">NextPage</a>
                {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link">NextPage</a>
            </li>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}